<%-include('header-Admin.ejs')%>
    <body>
        <nav>
            <div class="logo">
                <div class="logo_team">
                    <img src="/Media/Logo_Team.png" alt="">
                </div>
                <span class="name_team">0-Fine</span>
            </div>
            <div class="menu_item">
                <ul class="nav__link">
                    <li>
                        <a href="/User_Admin">
                            <i class='bx bx-user-circle' ></i>
                            <span class="link__name">User</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Product_Admin">
                            <i class='bx bxs-box' ></i>
                            <span class="link__name">Product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Order-Admin">
                            <i class='bx bx-money-withdraw' ></i>
                            <span class="link__name">Order</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class='bx bx-log-out' ></i>
                            <span class="link__name">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <% if (filename === "User-Admin.ejs") { %> <%-include('User-Admin.ejs')%>
        <% } else if (filename === "Product-Admin.ejs") { %> <%-include('Product-Admin.ejs')%>
        <% } else if (filename === "Order-Admin.ejs") { %> <%-include('Order-Admin.ejs')%>
        <% }
        %>
        <script src="/js/screenUsers.js"></script>
    </body>
   </html>