<%-include('head.ejs')%>
<section class="Box_Item">
    <div class="buy_realted_box">
        <div class="buy_box">
            <div class="img_product_box"></div>
            <div class="text_box"><h4>Describe In Here</h4></div>  
            <div class="purchase_box">
                <a href="#"><i class='bx bx-cart-add' ></i><p>Purchase</p></a>
                <label class="cost"><p>Cost</p><label><i class='bx bxs-coin' ></i></label></label>
                <input type="checkbox" id="love" class="hide">
                <label class="luv" for="love">
                    <i class='bx bxs-heart' id="love"></i>
                </label>
            </div>
        </div>
        <div class="realted_box"></div>
    </div>
</section>
