<header class="header">
    <nav class="nav container">
        <div class="nav__toggle" id="nav-toggle">
        <i class="fas fa-bars nav__burger"></i>
        <i class="fas fa-window-close nav__close"></i>
        </div>
    </div>
    <div class="nav__menu" id = "nav-menu">
    <ul class = "nav__list">        
        <li>
            <a href="/Buy" class="nav__link"><i class ="fas fa-shopping-bag "></i></a>
        </li>  
        <li class="active">
            <a href="/Cart" class="nav__link"><i class ="fas fa-shopping-cart"></i></a>
        </li> 
        <li>
            <a href="/Login" class="nav__link"><i class ="fas fa-sign-in-alt"></i></a>
        </li> 
        <div class="indicate"></div>
    </ul>          
</div>
</nav>
<h1>This is Cart Page</h1>
