<section class="Contact">
    <div class="slide_contact">
        <div class="next active">
            <img src="/Media/member1.jpg" alt="">
            <div class="left_info">
                <div class="penetrate-blur">
                    <h1>BẰ</h1>
                </div>
                <div class="info">
                    <h3>Roles:</h3>
                    <p>UI developer</p>
                    <a href="https://www.facebook.com/profile.php?id=100037472223698" class="btn"><i class='bx bxl-facebook-circle' ></i></a>
                </div>
            </div>
            <div class="right_info">
                <h1>NG</h1>
                <h3>Leader</h3>
            </div>
        </div>
        <div class="next">
            <img src="/Media/member2.webp" alt="">
            <div class="left_info">
                <div class="penetrate-blur">
                    <h1>A</h1>
                </div>
                <div class="info">
                    <h3>Roles:</h3>
                    <p>Handle Database</p>
                    <a href="https://www.facebook.com/profile.php?id=100009643428281" class="btn"><i class='bx bxl-facebook-circle' ></i></a>
                </div>
            </div>
            <div class="right_info">
                <h1>NH</h1>
                <h3>Member</h3>
            </div>
        </div>
        <div class="next">
            <img src="/Media/member3.jpg" alt="">
            <div class="left_info">
                <div class="penetrate-blur">
                    <h1>VI</h1>
                </div>
                <div class="info">
                    <h3>Roles:</h3>
                    <p>Handle Model</p>
                    <a href="https://www.facebook.com/vuive.vinh.967" class="btn"><i class='bx bxl-facebook-circle' ></i></a>
                </div>
            </div>
            <div class="right_info">
                <h1>NH</h1>
                <h3>Member</h3>
            </div>
        </div>
        <div class="next">
            <img src="/Media/member4.jpg" alt="">
            <div class="left_info">
                <div class="penetrate-blur">
                    <h1>GI</h1>
                </div>
                <div class="info">
                    <h3>Roles:</h3>
                    <p>Content Creator</p>
                    <a href="https://www.facebook.com/baogiang.le.12576" class="btn"><i class='bx bxl-facebook-circle' ></i></a>
                </div>
            </div>
            <div class="right_info">
                <h1>ANG</h1>
                <h3>Member</h3>
            </div>
        </div>
        <div class="next">
            <img src="/Media/member5.webp" alt="">
            <div class="left_info">
                <div class="penetrate-blur">
                    <h1>HU</h1>
                </div>
                <div class="info">
                    <h3>Roles:</h3>
                    <p>Handle Database</p>
                    <a href="https://www.facebook.com/vuhuanssj" class="btn"><i class='bx bxl-facebook-circle' ></i></a>
                </div>
            </div>
            <div class="right_info">
                <h1>ÂN</h1>
                <h3>Member</h3>
            </div>
        </div>
    </div>

    <div class="nav-contact">
        <span class="prev-btn">
            <i class='bx bx-chevron-left' ></i>
        </span>
        <span class="next-btn">
            <i class='bx bx-chevron-right' ></i>                        
        </span>
    </div>
</section>

<script src="/js/contact.js"></script>
