<% for (let j=0; j < listItems.length; j++) { %>
    <tr>
        <td><%= listItems[j].nameUser %>  </td>
        <td><%= listItems[j].passwordUser %>  </td>
        <td><%= listItems[j].addressUser %>  </td>            
    </tr>
<% } %>