<section class="home">
    <div class="home-content">
        <h1>Welcome to the store</h1>
        <h3>Have a nice day!</h3>
        <p>
            Describe about Store
        </p>
        <a href="/Buy" class="hp-btn">Explore Store</a>
    </div>
    <div class="home-img">
        <div class="home-anim">
            <img src="/Media/homepage-item.png" alt="">
        </div>
    </div>
    <div class="block1">
        
    </div>
</section>