<%-include('head.ejs')%>
<article>
    <nav>
        <button class="Stream_bt"><span></span>Stream</button>
        <div class="right_bx">
            <i class="far fa-moon" id="day_night_1"></i>
            <i class="fas fa-sun" id="day_night_2"></i>
            <i class="fas fa-wifi" id="wifi"></i>
            <i class="fas fa-cog"></i>
            <button id="active_battery"><i class="fas fa-battery-three-quarters" id="battery_icon"></i><span id="battery_level">84%</span></button>
        </div>
    </nav>
    <div class="game1">
        <div class="scroll_item_bt">
           <i class="fas fa-caret-left" id="game_bx_1_left_bt"></i>
           <i class="fas fa-caret-right" id="game_bx_1_right_bt"></i>
        </div>
        <h3><i class="fab fa-bandcamp"></i>Recommend For You</h3>
        <div class="gameBx" id="game_bx_1">
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
        </div>
    </div>
    <div class="game2">
        <h3><i class="fas fa-bomb"></i>Most Played</h3>
        <div class="gameBx" id="game_bx_1">
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>   
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>                          
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>                
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
           
            </div> 
            <div class="card">
           
            </div> 
            <div class="card">
           
            </div> 
            <div class="card">
           
            </div>                                             
        </div>
    </div>
</article>