<section class="home">
    <div class="home-content">
        <h1>Welcome To The Store</h1>
        <h3>Have a nice day!</h3>
        <p>
            Welcome to our online web store, your one-stop shop for video game purchases. 
            We are here to cater to your video game needs and preferences with our curated selection of video games. 
            No matter if you are seeking for a specific game or just browsing, our website has it all. 
            Our team has dedicated to making the website as easy and comfortable for you to use and enjoy. 
            We offer fair prices, security and scam-free store so you don't need to worry about anything and just experience the wonders of gaming. 
            Join our growing community of satisfied customers and discover the joy of shopping online with us.
            So what are you waiting for? Go find the video game of your liking and have fun! 
            If you have any problems or questions, you can email us and we will help with it.
        </p>
        <a href="/Buy" class="hp-btn">Explore Store</a>
    </div>
    <div class="home-img">
        <div class="home-anim">
            <img src="/Media/homepage-item.png" alt="">
            <div class="door1"></div>
            <div class="door2"></div>
        </div>
        <div class="web-name">
            <img src="/Media/letter-e.png" alt="">
            <img src="/Media/letter-d.png" alt="">
            <img src="/Media/letter-s.png" alt="">
        </div>
    </div>
    <div class="block1">
        
    </div>
</section>