<section class="home">
    <div class="home-content">
        <h1>Welcome To The Store</h1>
        <h3>Have a nice day!</h3>
        <p class="input">
        </p>
        <a href="/Buy" class="hp-btn">Explore Store</a>
    </div>
    <div class="home-box">
        <div class="home-img">
            <div class="home-anim">
                <img src="/Media/homepage-item.png" alt="">
                <div class="door1"></div>
                <div class="door2"></div>
                <div class="door3"></div>
            </div>
            <div class="web-name">
                <img src="/Media/letter-e.png" alt="">
                <img src="/Media/letter-d.png" alt="">
                <img src="/Media/letter-s.png" alt="">
            </div>
            </div>
        </div>
    </div>
</section>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="/js/importListUser.js"></script>
<script>
    const section = document.querySelector('.home');
    const hahaDiv = document.querySelector('.home-box');

    const observer = new ResizeObserver(entries => {
        for (let entry of entries) {
            if (entry.contentRect.width < 1200) {
                hahaDiv.style.display = 'none';
            } else {
                hahaDiv.style.display = 'block';
            }
        }
    });

observer.observe(section);
</script>