<!DOCTYPE html>
   <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "/css/LoginPage-style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>SHOP TUTORIAL</title>
    </head>
    <body>
        <header class="header">
            <nav class="nav container">
                  <div class="nav__toggle" id="nav-toggle">
                    <i class="fas fa-bars nav__burger"></i>
                    <i class="fas fa-window-close nav__close"></i>
                  </div>
               </div>
               <div class="nav__menu" id = "nav-menu">
                <ul class = "nav__list">
                    <li>
                        <div class="nav__link">
                            <input type="checkbox" id="check" class="hide">
                            <label for="check">
                                <i class="fas fa-arrow-circle-right	 bt_burger" id="arrow"></i>
                            </label>
                            <div class="slide">
                                <ul>
                                    <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
                                    <li><a href="/Trending"><i class="fas fa-fire"></i>Trending</a></li>
                                    <li><a href="#"><i class="fas fa-comment"></i>Messages</a></li>
                                    <li><a href="/Love"><i class="fas fa-heart"></i>Love</a></li>
                                </ul>
                            </div>            
                        </div>
                    </li>
                    <li><a href="/" class="nav__link"><img src = "/Media/Logo.png" width="40" height="40" alt="SHOP Ú"> SHOP Ú</a></li>
                    <li class="down__item">
                        <div class="nav__link">
                        Shop<i class ="fas fa-shopping-bag"></i>
                        </div>
                        <ul class="dropdown__menu">
                            <li>
                               <a href="/Free" class="dropdown__link">
                                  <i class="fas fa-candy-cane free"></i> Free 
                               </a>                          
                            </li>
                        </ul>
                        <ul class="dropdown__menu">
                            <li>
                               <a href="/Buy" class="dropdown__link">
                                  <i class="fas fa-money-bill-wave money"></i> Buy
                               </a>                          
                            </li>
                        </ul>

                    </li>
                    <li>
                        <div class="search-container">
                            <input type="text" placeholder="Search...">
                            <i class="fas fa-search"></i>
                        </div>   
                    </li>          
                    <li><a href="/Login" class="nav__link"><i class ="fas fa-sign-in-alt"></i>Login & Register</a></li>    
                    <li><a href="/Cart" class="nav__link"><i class ="fas fa-shopping-cart"></i></a></li>            
                </ul>          
           </div>
            </nav>
            <div class="wrapper">
                <form action="">
                    <h1>Login</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" required>
                        <i class='bx bx-user' ></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" required>
                        <i class='bx bx-lock-alt' ></i>
                    </div>
                    <div class="remmeber-forgot">
                        <label><input type="checkbox">Remmeber me</label>
                        <a href="#">Forgot Password</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="register_link"><p>Don't have an account?<a href="#">Register</a></p></div>
                </form>
            </div>
        </header>
        <script src ="/js/changeScreen.js"></script>
    </body>
</html>
