<%-include('head.ejs')%>
<div class="wrapper">
       <h1>Login</h1>
        <div class="input-box">
            <input type="text" placeholder="Username" required>
            <i class='bx bx-user' ></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" required>
            <i class='bx bx-lock-alt' ></i>
        </div>
        <div class="remmeber-forgot">
            <label><input type="checkbox">Remmeber me</label>
            <a href="#">Forgot Password</a>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register_link"><p>Don't have an account?<a href="/Register">Register</a></p></div>
</div>
<script src ="/js/changeScreen.js"></script>
<script src ="/js/handleScrollBar.js"></script>