    <section class="Login">
        <div class="wrapper">
            <h1>Login</h1>
            <form class="form">
                <div class="input-box">
                    <input type="text" class="username-input" placeholder="Username">
                    <i class='bx bx-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" class="password-input" placeholder="Password">
                    <i class='bx bx-lock-alt'></i>
                </div>
                <div class="remmeber-forgot">
                    <label><input type="checkbox">Remmeber me</label>
                    <a href="#">Forgot Password</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="text-small form-alert"></div>
                <div class="register_link">
                    <p>Don't have an account?<a href="/Register">Register</a></p>
                </div>
            </form>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/js/loginForm.js"></script> 
    </section>