<section class="Users">
    <div class="top">
        <i class="fas fa-bars slidebar-toggle"></i>
    </div>
        <div class="Activity">
            <div class="title">
                <i class='bx bxs-user'></i>
                <span class="text">Manage User</span>
            </div>
            <div class="content">
                <div class="Btns">
                    <a>Add User</a>
                    <a>Remove User</a>
                    <a>Authority User</a>
                </div>
            </div>
            <div class="UserData">
                <div class="box_title">
                    <span class="data-title">ID</span>
                    <span class="data-title">Customer ID</span>
                    <span class="data-title">Payment ID</span>
                    <span class="data-title">Total Cost</span>      
                </div>
                <div class="box_data">
                    <div class="data ID">
                        <span class="data-list">01</span>
                        <span class="data-list">02</span>
                        <span class="data-list">03</span>
                        <span class="data-list">04</span>
                        <span class="data-list">05</span>
                        <span class="data-list">06</span>
                    </div>
                    <div class="data name">
                        <span class="data-list">Bằng</span>
                        <span class="data-list">Bằng</span>
                        <span class="data-list">Bằng</span>
                        <span class="data-list">Bằng</span>
                        <span class="data-list">Bằng</span>
                        <span class="data-list">Bằng</span>
                    </div>
                    <div class="data phone">
                        <span class="data-list">0824373909</span>
                        <span class="data-list">0824373909</span>
                        <span class="data-list">0824373909</span>
                        <span class="data-list">0824373909</span>
                        <span class="data-list">0824373909</span>
                        <span class="data-list">0824373909</span>
                    </div>   
                    <div class="data address">
                        <span class="data-list">VietNam</span>
                        <span class="data-list">VietNam</span>
                        <span class="data-list">VietNam</span>
                        <span class="data-list">VietNam</span>
                        <span class="data-list">VietNam</span>
                        <span class="data-list">VietNam</span>
                    </div>   
                </div>
            </div>
        </div>             
    </div>
</section>