<header class="header">
  <nav class="nav container">
      <div class="nav__toggle" id="nav-toggle">
          <i class="fas fa-bars nav__burger"></i>
          <i class="fas fa-window-close nav__close"></i>
      </div>
      </div>
      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
              <li>
                  <a href="/Buy" class="nav__link"><i class="fas fa-shopping-bag "></i></a>
              </li>
              <li>
                  <a href="/Cart" class="nav__link"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <li class="active">
                  <a href="/Login" class="nav__link"><i class="fas fa-sign-in-alt"></i></a>
              </li>
              <div class="indicate"></div>
          </ul>
      </div>
  </nav>
<section class="Login">
  <div class="wrapper">
    <form class="form">
        <h1>Register</h1>
        <div class="input-box">
            <input type="text" class="name-input" placeholder="Full name" name="name" required>
            <i class='bx bx-user' ></i>
        </div>
        <div class="input-box">
            <input type="text" class="username-input" placeholder="Username" name="username" required>
            <i class='bx bx-user' ></i>
        </div>
        <div class="input-box">
            <input type="password" class="password-input" placeholder="Password" name="password" required>
            <i class='bx bx-lock-alt' ></i>
        </div>
        <div class="input-box">
            <input type="password" class="confirm-pass-input" placeholder="Confirm password" required>
            <i class='bx bx-lock-alt' ></i>
        </div>
        <div class="input-box">
            <input type="phone" class="phone-input" placeholder="Contact Number" name="phone" required>
            <i class='bx bx-phone'></i>
        </div>
        <div class="location_users">
            <select id="city" aria-label="state" name="city">
              <option value="" selected>City/Province</option>
            </select>
      
            <select id="district" aria-label="state" name="district">
              <option value="" selected>District</option>
            </select>
            <select id="ward" aria-label="state" name="ward">
              <option value="" selected>Ward</option>
            </select>
          </div>
          <button type="submit" class="btn_register">Register</button>
        </form>
      </div>
    </form>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/registerForm.js"></script> 
<!-- <script src="/js/importLocation.js"></script> -->
</section>

