<%-include('head.ejs')%>
<div class="wrapper">
    <form action="/users" method="GET">
        <h1>Register</h1>
        <div class="input-box">
            <input type="text" placeholder="Username" name="username" required>
            <i class='bx bx-user' ></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" name="password" required>
            <i class='bx bx-lock-alt' ></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Confirm password" required>
            <i class='bx bx-lock-alt' ></i>
        </div>
        <div class="input-box">
            <input type="phone" placeholder="Contact Number" required>
            <i class='bx bx-phone'></i>
        </div>
        <div class="location_users">
            <select id="state" aria-label="state" name="state">
                <option value="" disabled selected  id="Option_Address">Ward</option>
                <option>Ohio</option>
                <option>Michigan</option>
                <option>New York</option>
                <option>Florida</option>
              </select>
            <select id="state" aria-label="state" name="state">
                <option value="" disabled selected>District</option>
                <option>Ohio</option>
                <option>Michigan</option>
                <option>New York</option>
                <option>Florida</option>
              </select>        
            <select id="state" aria-label="state" name="state">
                <option value="" disabled selected>City or Province</option>
                <option>Ohio</option>
                <option>Michigan</option>
                <option>New York</option>
                <option>Florida</option>
              </select>
        </div>
        <button type="submit" class="btn_register" <a href="/users">Register</button>
    </form>
</div>
