<%-include('head.ejs')%>
<div class="wrapper">
    <form action="/users" method="GET">
        <h1>Register</h1>
        <div class="input-box">
            <input type="text" placeholder="Username" name="username" required>
            <i class='bx bx-user' ></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" name="password" required>
            <i class='bx bx-lock-alt' ></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Confirm password" required>
            <i class='bx bx-lock-alt' ></i>
        </div>
        <div class="input-box">
            <input type="phone" placeholder="Contact Number" name="phone" required>
            <i class='bx bx-phone'></i>
        </div>
        <div class="location_users">
            <select id="city" aria-label="state" name="city">
              <option value="" selected>City/Province</option>
            </select>
      
            <select id="district" aria-label="state" name="district">
              <option value="" selected>District</option>
            </select>
            <select id="ward" aria-label="state" name="ward">
              <option value="" selected>Ward</option>
            </select>
          </div>
          <button type="submit" class="btn_register">Register</button>
        </form>
      </div>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
      <script defer src="/js/importLocation.js"></script> 
    </form>
</div>
