<section class="Wishlist">
    <aside id = "wishlist">
        <h2 class="center">My Wishlist</h2>
    </aside>    
    <div class="gameBx" id="game_bx_2">       
            <div class="product">
                <a>
                    <img src="">
                    <div class="content">
                        <div class="left">
                            <h5></h5> 
                        </div>
                        <h6><p></p></h6>
                    </div>
                </a>
            </div>
    </div>
</section>
<!-- <script src="/js/importWishlist.js"></script>  -->
