<!-- <main>
    <div id="content">
        <div class="product">
            <div id = "product0">
                <img src="images/apples.jpg" height="150" width="200" />
                <h3>Apples</h3>
                <p>Type: Fruit</p>
                <p>Price: Rs 80 / kg</p>
            </div>
            <input type="button" value="Add to List" id="0" class="but" />
        </div>
    </div>
</main> -->
<aside id = "wishlist">
    <h2 class="center">My Wishlist</h2>
</aside>

