<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<section class="Profile w-100  px-4 py-5" style="background: #A3D8FF; border-radius: .5rem .5rem 0 0; height: 100vh;">
    <div class="row d-flex justify-content-center">
      <div class="col col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0 mr-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1"><%=user.username%></h5>
                <p class="mb-2 pb-1"><%=user.name%></p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                  <div>
                    <p class="small text-muted mb-3 mr-5">Phone Number</p>
                    <p class="mb-0"><%=user.phone%></p>
                  </div>
                  <div>
                    <p class="small text-muted mb-3">Address</p>
                    <p class="mb-0"><%=user.address.city%></p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary me-1 flex-grow-1 mr-2" onclick="changeEdit()">Edit Profile</button>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary me-1 flex-grow-1 mr-2" onclick="changeView()">View Ordered</button>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1" onclick="logout()">Logout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>  
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"> </script> 
    <script>
      function changeView() {
          const currentURL = window.location.href;
          const newURL = currentURL.replace('/user/', '/profile/');
          window.location.href = newURL;
      }
      function changeEdit() {
        const currentURL = window.location.href;
        const newURL = currentURL.replace('/user/', '/profile/');
        window.location.href = newURL;
      }
      
    </script>
    <script>
      async function logout() {
        try{
          await axios.get('/logout')
          window.location.href = '/Login'
        }
        catch(error){
          console.log(error.response.data.msg)
        }
      }
    </script>
  </section>