<section class="Users">
    <div class="top">
        <i class="fas fa-bars slidebar-toggle"></i>
    </div>
    <div class="Activity">
        <div class="title">
            <i class='bx bxs-user'></i>
            <span class="text">Manage User</span>
        </div>
        <div class="content">
            <div class="Btns">
                <button id="removeUserBtn">Remove User</button>
            </div>
        </div>
        <div class="UserData">
            <div class="box_title">
                <span class="data-title">ID</span>
                <span class="data-title">User Name</span>
                <span class="data-title">Phone</span>
                <span class="data-title">Address</span>      
            </div>
            <div class="box_data">
                <% for (let i = 0; i < users.length; i++){ %>
                <div class="item">
                    <div class="data ID">
                        <span class="data-list"><%=users[i].id%></span>
                    </div>
                    <div class="data name">
                        <span class="data-list"><%=users[i].username%></span>
                    </div>
                    <div class="data phone">
                        <span class="data-list"><%=users[i].phone%></span>
                    </div>   
                    <div class="data address">
                        <span class="data-list"><%=users[i].address.city%></span>
                    </div> 
                </div>  
                <% } %>                          
            </div>
        </div>
    </div>             
</div>
<div class="overlay" id="overlay"></div>
<div class="form-panel" id="removeFormPanel">
    <form id="remove-user-form">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" placeholder="User ID" required><br><br>
        <button type="submit">Remove</button>
    </form>
</div>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<script src="/js/userHandlerAdmin.js"></script> 