@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --color-1: #3F979B;
    --color-2: #D3BD9A;
    --color-3: #000;
    --color-4: #D3E3FC;
    --color-5: #55829C;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var("Montserrat", sans-serif);
  font-size: var(.938rem);
  background-color: var(hsl(220, 100%, 97%));
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* input[type="checkbox"] {
  float: right;
  padding: 6px;
  border: none;
  height: 2.5rem;
  margin: 0.5rem 0 0 0;
  font-size: 17px;
  border-radius: 30px;
} */


.slide{
  top: 56px;
  height: 1100px;
  width: 250px;
  position: absolute;
  background: var(--color-1);
  transition: 0.5s ease;
  transform: translateX(-150px);
  z-index: 101;
}

.slide ul li{
  list-style: none;
  position: relative;
  padding: 20px 0px;
}

ul{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav__list{
  display: flex;
  position: relative;
  margin: auto 0;
}

.nav__menu .nav__list li{
  margin: 0 30px;
  list-style: none;
  z-index: 111;
}

.nav__menu .nav__list li a{
  display: block;
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.2s 0.1s ease;
}

.nav__menu .nav__list li a i{
  display: block;
  position: relative;
}

.nav__menu .nav__list li.active a i{
  opacity: 1;
  transform: translateY(-8px);
  background-color: transparent;
}

.nav__menu .nav__list li.active a{
  background-color: transparent;
}

.nav__menu .nav__list li.active a i{
  opacity: 1;
  transform: translateY(-8px);
  background-color: transparent;
}


.indicate{
  position: absolute;
  height: 100%;
  width: 150px;
  background-color: var(--color-2);
  border-radius: 15px 15px 0 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}


.indicate::before{
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  background: var(--color-1);
  bottom: 0;
  left: -25px;
  box-shadow: 13px 0 0 var(--color-2);
  border-bottom-right-radius: 15px;
  transition: .2s linear;
}

.indicate::after{
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  background: var(--color-1);
  bottom: 0;
  right: -25px;
  box-shadow: -13px 0 0 var(--color-2);
  border-bottom-left-radius: 15px;
  transition: .2s linear;
}



ul li{
  list-style: none;
}

ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-3);
  justify-content: center;
  display: block;
}

ul li:hover::after{
  width: 100%;
}

ul li a i{
  width: 60px;
  text-align: center;
  height: 30px;
}

ul li a p{
  width: 30px;
  text-align: center;
  height: 30px;
  justify-content: space-between;
}


.hide{
  -webkit-appearance: none;
  appearance: none;
  display: none;
  visibility: hidden;
}



.nav__list li i{
  align-items: center;
  justify-content: center;
  display: flex; 
}

.nav__list .toggle_slide i{
  align-items: center;
  justify-content: center;
  display: flex;
}

.slide-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  background-color: var(--color-1);
  border-radius: 1px;
  transition: .01s linear;
  border: none;
  outline: none;
  z-index: 15;
  border: 1px solid #000;
}

.Box_Item{
  height: 100vh;
  width: calc(100%);
  position: relative;
  transition: .05s ease-in-out;
  background-color: var(--color-2);
  justify-content: center;
  display: flex;
  align-items: center;
  /* background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("../Media/BG_Login.jpg");
  background-size: cover;
  background-position: center;   */
}

.slide-bar.hidden{
  width: 16%;
}

.slide-bar .menu_item{
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.toggle_slide i{
  height: 80%;
  font-size: 30px;
  padding: 10px 20px;
}

.nav_link .toggle_slide{
  height: 15%;
  display: flex;
  align-items: center;
}

.menu_item li{
  list-style: none;
}

.menu_item li a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  text-decoration: none;
  margin: 60px 0px 0px 0px;
}

.menu_item .toggle_slide span{
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 17px;
  color: var(--color-3);
  opacity: 0;
}

.slide-bar.hidden span{
  opacity: 1;
  pointer-events: none;
}


.menu_item .toggle_slide img{
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
}

.slide-bar.hidden img{
  opacity: 1;
  pointer-events: none;  
}

.menu_item .nav_link li a:hover:before{
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color:  rgb(170, 94, 2);;
}

.menu_item li a i{
  font-size: 30px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--color-3);
  padding: 0px 15px;
}

.menu_item li a .link__name{
  color: var(--color-3);
  font-size: 18px;
  font-weight: 400; 
  transition: .01s linear;
  align-items: center;
  width: 50px;
  padding-right: 150px;
  opacity: 0;
  pointer-events: none;
}

.slide-bar.hidden li a .link__name{
  opacity: 1;
  pointer-events: none;
}

.nav_link li a:hover .link__name,
.nav_link li a:hover i{
  color: rgb(170, 94, 2);
}



.container {
  width: 100%;
  background-color: var(--color-1);
}  

.header {
  position: relative;
  top: 0;
  left: 5%;
  height: 100%;
  width: calc(95%);
  background-color: var(--color-2);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(0);
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide-bar.hidden ~ .header{
  width: calc(84%);
  left: 16%;
}

.nav {
  height: 3.5rem;
  background-color:var(--color-1);
  width: 100%;
  position: relative;
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color:white;
}

.nav__data{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: inline-flex;
  align-items: center;
  font-weight: var(600);
}

.nav__logo i{
  font-size: 1.25rem;
}

.nav__toggle{
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close{
  position:absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close{
  opacity: 0;
}

.nav__link{
  background-color: var(--color-1);
  color: --color-3;
  font-size: 1.5rem;
  height: 55px;
  font-weight: var(600);
  padding: 1rem 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: background-color .3s;
  z-index: 10;
}

@media screen and (max-width: 1118px) {
  :root {
    --normal-font-size: 1rem;
    --color-1: #45586b;
    --color-2: #9AC8CD;
    --color-3: #F7C566;
  }
  .nav__menu{
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 80%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      pointer-events: none;
      opacity: 0;
      transition: top .4s, opacity .3s;
      z-index: 10;
      overflow-y: hidden;
      overflow-x: hidden;
  }

  .slide-bar{
    width: 20%;
  }

  .nav {
    background-color: var(--color-1);  
    width: 100%;
    z-index: 10;
  }

  .container {
    background-color: var(--color-1);
    width: 100%;
    position: relative;
  }

  .nav__menu::-webkit-scrollbar{
      width: 0;
      z-index: 10;
  }
  
  .nav__list{
      background-color: var(--color-1);
      padding-top: 1rem;
      z-index: 10;
  }

  .header{
    height: 100%;
  }

  .nav__link{
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .article{
      bottom: 50%;
      left: 50%;
      z-index: 0;
  }


  .slide{
    transform: translateX(-510px);
  }

  #check:checked~.slide{
    transform: translateX(-260px);
    }
}

.nav__menu{
  align-items: center;
  justify-self: center;
  width: 100%;
  display: flex;
  position: relative;
}

.show-menu{
  opacity: 1;
  top: 1.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger{
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close{
  opacity: 1;
  transform: rotate(90deg);
}

.down__item{
  cursor: pointer;
  z-index: 10;
}

.dropdown-arrow{
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link{
  padding: 1rem 1.25rem 1.5rem 0.25rem;
  color: rgb(0, 0, 0);
  background-color: #6DC5D1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  font-weight: var(600);
  }

.dropdown__link i{
  font-size: 1.75rem;
  z-index: 10;
}

.dropdown__menu{
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.nav__link p{
  color: var(--color-3);
}

.nav__link i{
  color: var(--color-3);
}

.dropdown__menu li a{
display: flex;
width: 100;
justify-content: center;
align-items: center;
}

.down__item:hover .dropdown__menu{
  max-height: 1000px;
  transition: max-height .4s ease-in;
  z-index: 10;
}

@media screen and (max-width: 340px) {
  /* .container{
      margin-inline: 1rem;
  } */
  .nav__link{
      padding-inline: 1rem;
  }
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(3.5rem)+1.5rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 2.6rem;
  }

  .nav__link{
      height: 100%;
      padding: 0;
      justify-content: center;
      column-gap: .05rem;
  }

  .dropdown__link{
    z-index: 10;
  }

}

#BG_Login{
  min-height: 100vh;
  background: url('../Media/BG_Login.jpg') no-repeat;
  z-index: var(0);
  background-position: center;
  background-size: cover;

}

.containerNav  #arrow{
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 35px;
  right: 10px;
  font-size: 25px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  text-align: center;
  top: 10px;
  border-radius: 50px;
  color: #3EDBF0;
  transition: .3s;
}



.Buy{
  height: 110vh;
  width: calc(100%);
  position: relative;
  transition: .05s ease-in-out;
  background-color: var(--color-2);
  justify-content: center;
  align-items: center;
  display: flex;
}

.Buy article{
  width: 94%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #fff;
  background-color: var(--color-1);
  z-index: 0;
}

.Buy article nav{
  width: 100%;
  height: 9%;
  border: none;
  border-radius: 0px 10px 0px 0px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.Buy article nav .Stream_bt{
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px solid var(--color-3);
  outline: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-3);
  font-weight: 600px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-top: 10px;
}

.Buy article nav .Stream_bt .coverBt{
  background-color: #663da6;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  border: 1px #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
  z-index: -1;
}


nav .search-container {
  width: 500px;
  align-items: center;
  position: relative;
  background: #ffffff;
  height: 3.5;
  margin: 5px 0 0 0;
  transition: .5s linear;
  justify-content: space-between;
  border-radius: 10px;
  display: flex;
}

nav .search-container input {
  width: 90%;
  border: none;
  outline: none;
  background: none;
  height: 40px;
  padding: 2px 10px;
  color: #577B8D;
  transition: .5s linear;
}

nav .search-container button{
  position: absolute;
  height: 100%;
  width: 10%;
  right: 0px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #6DC5D1;
  border: none;
  outline: none;
}

nav .search-container input::placeholder {
  color: #577B8D;
  font-size: 12px;
  transition: .5s linear;
}

nav .search-container i:hover {
  color: #ffffff;
}

nav .search-container button:hover {
  background-color: #757b7b;
}



.Stream_bt:hover .coverBt{
  width: 100%;
  z-index: 0;
}

.Stream_bt:hover{
  border: none;
  color: white;
}


.Buy article nav .right_bx{
  width: 36%;
  border: 1px solid #2e262600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Buy article nav .right_bx i{
  font-size: 20px;
  cursor: pointer;
  transition: .5s;
  color: #fff;
}

.Buy article nav .right_bx i:hover{
  color: rgb(0, 0, 0);
}

.Buy article nav .right_bx button{
  padding: 0px 20px;
  background: rgb(184,184,184,.2);
  border: 2px solid rgb(255,255,255,.2);
  align-items: center;
  font-size: 12px;
  display: flex;
  color: #ffffff;
  transition: .5s linear;
}

.Buy article nav .right_bx button span{
  margin: -2px 0px 0px 10px;
}

.Buy article nav .right_bx .active_battery{
  background: #663da6;
  box-shadow: 0px 0px 20px #663da6;
}

.Buy article .game1{
  position: relative;
  width: 100%;
  height: 250px;
  border: 1px solid #fff;
  padding: 0px 30px;
  margin-top: 20px;
}

.Buy article .game1 h3{
  color:#B5C18E;
  font-size: 20px;
  font-weight: 600;
  transition: .5s linear;
}

.Buy article .game1 .gameBx{
  width: 100%;
  height: 200px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.Buy article .game1 .gameBx::-webkit-scrollbar{
  display: none;
}


.Buy article .game1 .scroll_item_bt{
  position: absolute;
  right: 5%;
  top: 0;
  display: flex;
  align-items: center;
  color:#fff;
}

.Buy article .game1 .scroll_item_bt i{
  margin-left: 5px;
  cursor: pointer;
  transition: .5s linear;
}

.Buy article .game1 .scroll_item_bt i:hover{
  color: #494848;
}

.gameBx .product{
  width: 170px;
  height: 200px;
  border: 1px solid #000;
  margin-left: 5px;
  margin-top: 5px;
}


.gameBx .product a{
  min-width: 220px;
  height: 160px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: 10px 10px 0px 10px;
}

.gameBx .product a img{
  width: 130px;
  height: 130px;
  border-radius: 5px;
}

.gameBx .product a .content{
  width: 100%;
  height: 25%;
  /* border: 1px solid #fff; */
  display: flex;
  color: var(--color-3);
  margin-top: 10px;
  transition: .5s linear;
}

.gameBx .product .content .left{
  color: var(--color-3);
  transition: .5s linear;
}

.gameBx .product .content .left h5{
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gameBx .product .content .left p{
  font-size: 16px;
  font-weight: 500;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000000;
}

.gameBx .product .content h6{
  font-size: 16px;
  font-weight: 500;
  transition: .5s linear;
  width: 50%;
  height: 50%;
  margin: 15% 10% 0% -70%;
  background-color: #04AA6D;
  border-radius: 5px;
  border: 1px solid #000;
}

.Buy article .game2{
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0 30px;
  overflow: hidden;
}

.Buy article .game2 h3{
  color:#B5C18E;
  font-size: 20px;
  font-weight: 600px;
  transition: .5s linear;
}

.Buy article .game1 h3 i{
  color:#6DC5D1;
  font-size: 20px;
  font-weight: 600px;
  transition: .5s linear;
  text-align: left;
  width: 40px;
}

.Buy article .game2 .gameBx{
  width: 100%;
  height: 400px;
  margin-top: 8px;
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: auto;
}

.Buy article .game2 h3 i{
  color:#6DC5D1;
  font-size: 20px;
  font-weight: 600px;
  transition: .5s linear;
  text-align: left;
  width: 40px;
}

.Buy article .game2 .gameBx::-webkit-scrollbar{
  width: 5px;
  border-radius: 20px;
  background-color: #494848;
  visibility: hidden;
}

.Buy article .game2 .gameBx::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: #494848;
  visibility: hidden;  
}




.Login{
  height: 100vh;
  width: calc(100%);
  position: relative;
  transition: .05s ease-in-out;
  background-color: var(--color-2);
  background-image: linear-gradient(rgb(0,0,0,0.15),rgba(0, 0, 0, 0.15)),url("../Media/BG_Login.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper{
  width: 320px;
  background-color: rgba(82, 126, 222, 0.25);
  color: #fff;
  border-radius: 10px;
  left: 40%;
  top: 15%;
  backdrop-filter: blur(35px);
  position: relative;
}

.wrapper h1{
font-size: 36px;
text-align: center;
}

.wrapper .input-box{
position: relative;
width: 100%;
height: 50px;
margin: 30px 0px;
}

.input-box input{
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgb(255,255,255,.2);
border-radius: 40px;
padding: 20px 45px 20px 20px;
color: #fff;
}

.input-box input::placeholder{
color: #fff;
}

.input-box i{
  position: absolute;
  font-size: 20px;
  transform: translateY(-50%);
  top: 50%;
  right: 20px;
}

.wrapper .remmeber-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 5px 15px;
}

.remmeber-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}

.remmeber-forgot a{
color: #fff;
text-decoration: none;
}

.remmeber-forgot a:hover{
text-decoration: underline;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #000;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600px;
}

.wrapper .register_link{
font-size: 14.5px;
text-align: center;
margin-top: 20px;
}

.wrapper .location_users{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 80px;
  left: 20px;
  align-items: center;
  background-color: transparent;
}

.location_users .state{
  position: absolute;
  width: 100%;
  align-items: center;
}

.location_users  #city{
  width: 80%;
  position: relative;
}

.location_users  #district{
  width: 80%;
  position: relative;
}

.location_users  #ward{
  width: 80%;
  position: relative;
}



.register_link p a{
color: #fff;
text-decoration: none;
font-weight: 600;
}

.register_link p a:hover{
text-decoration: underline;
}

.btn_register{
width: 100%;
height: 45px;
background: #fff;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
cursor: pointer;
font-size: 16px;
color: #333;
font-weight: 600px; 
margin-bottom: 30px;
}


.form-alert {
  color: red;
  text-align: center;
}


  
#BG_Login {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: url('../Media/BG_Login.jpg') no-repeat;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(-100);
  background-position: center;
  background-size: 1600px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.nav_link li a .tooltip-text {
  padding: 6px;
  background-color: var(--color-1);
  color: white;
  font-size: 12px;
  position: absolute;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  right: -120px;
  visibility: hidden;
}

.nav_link li a .tooltip-text::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid var(--color-1);
}


.menu_item .nav_link  a:hover .tooltip-text{
  visibility: visible;
  display: block;
}


.Box_Item .buy_realted_box{
  width: 80%;
  height: 95%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

header .buy_realted_box .buy_box, .realted_box{
  width: 45%;
  height: 100%;
  border: 1px solid #fff;
}

header .buy_realted_box .buy_box{
  width: 55%;
  padding: 0px 20px;
}

header .buy_realted_box .buy_box .img_product_box {
  position: relative;
  width: 100%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 20px;
  transition: .3s linear;
}

header .buy_realted_box .buy_box .text_box{
  position: relative;
  width: 100%;
  height: 30%;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 20px;
  transition: .3s linear; 
}

header .buy_realted_box .buy_box .text_box h4 {
  margin-top: 30px;
  margin-left: 20px;
  color: var(--color-1);
  font-size: 16px;
  font-weight: 500;
}

header .buy_realted_box .purchase_box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

header .buy_realted_box .purchase_box a{
  text-decoration: none;
  padding: 10px 10px;
  background: #663da6;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: .2s linear;
  width: 35%;
}

header .buy_realted_box .purchase_box a:hover{
  background: #494848;
}


header .buy_realted_box .purchase_box a i{
  margin-left: 10%;
  font-size: 20px;
  width: 20%;
  position: relative;
}

header .buy_realted_box .purchase_box a p{
  width: 50%;
  position: relative;
}

header .buy_realted_box .purchase_box label{
  text-decoration: none;
  padding: 0px 0px 0px 20px; 
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  width: 45%;
  border-radius: 6px;
  transition: .2s linear;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 20px;
}

header .buy_realted_box .purchase_box label p{
  width: 70%;
  height: 100%;
  color: #000000;
  background-color: #fff;
}

header .buy_realted_box .purchase_box label label{
  width: 30%;
  padding: 10px 0px;
  background-color: #663da6;
  border: 1px solid #494848;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
}

header .buy_realted_box .purchase_box label label i{
  height: 100%;
  font-size: 18px;
  color: white;
}

header .buy_realted_box .purchase_box .luv{
  padding: 10px 0px;
  background: #663da6;
  width: 8%;
  margin-right: 5px;
  justify-content: center;
}

header .buy_realted_box .purchase_box .luv i{
  color: #fff;
}

header .buy_realted_box .purchase_box .luv i:hover{
  color: #ec45d3;
}

.nav__menu ul li:nth-child(1).active ~ .indicate{
  transform: translateX(-160px);
}

.nav__menu ul li:nth-child(3).active ~ .indicate{
  transform: translateX(160px);
  background-color: var(--color-5);
}

.nav__menu ul li:nth-child(3).active ~ .indicate::after{
  box-shadow: -13px 0 0 var(--color-5);
}

.nav__menu ul li:nth-child(3).active ~ .indicate::before{
  box-shadow: 13px 0 0 var(--color-5);

}



.nav__menu ul li:nth-child(2).active ~ .indicate{
  transform: translateX(0px);
}

.home{
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  padding: 50px 8% 0;
  justify-content: space-between;
  background-color: #eaeaea;
  overflow: hidden;
  z-index: 9;
}


.home-content{
  max-width: 630px;
}

.home-content h1{
  font-size: 63px;
  line-height: 1.2;
  animation: slideBottom 1s ease forwards;
}

.home-content h3{
  font-size: 30px;
  color: #04AA6D;
  animation: slideRight 1s ease forwards;

}

.home-content p{
  font-size: 20px;
  margin: 30px 0 50px;
  animation: slideTop 1s ease forwards;
}

.hp-btn{
  display: inline-block;
  padding: 10px 28px;
  background: #1743e3;
  border: 2px solid #1743e3;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  font-size: 16px;
  color: #eaeaea;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600px;
  transition: .5s linear;
  animation: slideTop 1s ease forwards ;
}

.hp-btn:hover{
  background: transparent;
  color: #1743e3;
}

.home-img{
  position: relative;
  height: 450px;
  width: 450px;
  transform: rotate(45deg);
  right: -7%;
  z-index: 11;
  box-shadow: -15px 15px 15px rgba(0,0,0,.2);
}

.home-img .home-anim{
  position: absolute;
  width: 450px;
  height: 450px;
  background: #eaeaea;
  border: 25px solid #1743e3;
  align-items: center;
  z-index: 11;
}

.home-anim img{
  position: absolute;
  max-width: 750px;
  transform: rotate(-90deg);
  height: 80%;
  width: 80%;
  left: -25%;
  top: 25%;
  z-index: 11;
  opacity: 0;
  animation: slideRotate 2s ease forwards;
}

.home-anim .door1{
  position: absolute;
  transform: rotate(-90deg); 
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: moveLeft 1s ease forwards;
  animation-delay: 2.2s;
}

.home-anim .door2{
  position: absolute;
  transform: rotate(-90deg); 
  z-index: 11;
  height: 100%;
  width: 100%;
  scale: -1;
  opacity: 0;
  animation: moveRight 1s ease forwards;
  animation-delay: 2.2s;
}


.home .block1{
  height: 700px;
  width: 700px;
  position: absolute;
  background: #1743e3;
  top: -25%;
  right: -25%;
  z-index: 10;
  transform: rotate(45deg);
  animation: aBlock1 1s ease forwards;
}

.web-name{
  width: 60%;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 14;
  transform: rotate(-45deg);
  top: 40%;
  left: 20%;
  justify-content: space-between;
}

.web-name img{
  position: relative;
  animation: slideTop 1s ease forwards;
  animation-delay: 3.4s;
  opacity: 0;
}


@keyframes aBlock1{
  0% {
    transform: translate(-100px,100px) scale(0) rotate(45deg);
  }
  100% {
    transform: translate(0px,0px) scale(1) rotate(-45deg);
    opacity: 1;
  }
}


@keyframes slideBottom{
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight{
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  } 
}


@keyframes slideTop{
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  } 
}

@keyframes slideRotate{
  0% {
    transform: translate(-200px,200px) scale(0) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(145px,-40px) scale(1) rotate(-45deg);
    opacity: 1;
  }
}


@keyframes moveLeft{
  0% {
    opacity: 1;
    border-bottom: 100px solid #7AB2B2;
    border-left: 400px solid transparent;
  }
  25% {
    border-bottom: 200px solid #7AB2B2;
    border-left: 400px solid transparent;
    opacity: 1;
  }  
  50% {
    border-bottom: 300px solid #7AB2B2;
    border-left: 400px solid transparent;
    opacity: 1;
  }   
  100% {
    border-bottom: 400px solid #7AB2B2;
    border-left: 400px solid transparent;
    opacity: 1;
  }  
}

@keyframes moveRight{
  0% {
    opacity: 1;
    scale: -1;
    border-bottom: 100px solid #7AB2B2;
    border-left: 400px solid transparent;
  }
  25% {
    opacity: 1;
    border-bottom: 200px solid #7AB2B2;
    border-left: 400px solid transparent;
  } 
  50% {
    opacity: 1;
    border-bottom: 300px solid #7AB2B2;
    border-left: 400px solid transparent;
  }     
  100% {
    border-bottom: 400px solid #7AB2B2;
    border-left: 400px solid transparent;
    opacity: 1;
  }   
}